

/* .future-card {
    height: 100px;
    width: 75px;
    margin-left: 10px;
} */

/* .card{
    margin-left: 20px;
}
#history {
    display: flex;
    flex-direction: column;
} */

